APP_ENV=local
APP_KEY=base64:svch8lb2Kjrc0AUPze8oRg3WgImBnrZnPLIXDAUNn3c=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=fresh
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=df6960140092a3
MAIL_PASSWORD=c697f2015685c8
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

BRAINTREE_ENV=sandbox
BRAINTREE_PRIVATE_KEY=ef62395bb2335ef264b9f0fe407eeb97
BRAINTREE_PUBLIC_KEY=cb8kmpwnhq896pbf
BRAINTREE_MERCHANT_ID=q8v84n886pwfryyp

SCOUT_DRIVER=algolia

ALGOLIA_APP_ID=UQWBM4DF2X
ALGOLIA_SECRET=3b91c37679641d71e47f85baa2053006

